body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    background: url('http://www.krinkels.net/images/BGHEX.png') center top no-repeat #000;
    color: white;
}

img {width: 100%;}

.main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: block;
	padding: 0 1em;
}

.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    padding: 5em 0;
        padding-top: 5em;
        padding-right: 0px;
        padding-bottom: 2em;
        padding-left: 0px;
    max-width: 600px;
    margin: 0 auto;
}


.movie-library {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	max-width: 850px;
	margin: 0 auto;
	
}

.art-stuff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    margin: 0 auto;
	grid-gap: 2em;
}

.art-content {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    flex-wrap: wrap;
    align-content: center;
}

.art-content > div{padding-bottom: 1em;}

.social {
    display: grid;
    grid-template-columns: 60px 60px 60px 100px 60px 60px 60px 60px;
    max-width: 800px;
    margin: 2em auto;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5em;
}

.footer {
    display: grid;
    align-content: center;
    color: #787878;
    font-size: 12px;
    padding: 1em 0 4em;
    max-width: 300px;
}



@media (max-width: 580px){
	
	.head {grid-template-columns: 1fr;}
	
	.movie-library{
		grid-template-columns: 1fr;
		
	}	
	
	.art-stuff{
		grid-template-columns: 1fr;
		
	}
	
	.social { 
	grid-template-columns: 60px 60px 60px;
	width: 100%;
	grid-gap: 1em;
	}
	
	.footer {font-size: 9px;}
	
}


/* --------------- MODAL WINDOW ------------------- */

.modal-container {
  margin: 0 auto;
  /* padding-top: 60px; */
  position: relative;
  width: 160px;
}

.wide {width: 400px;}

/* .modal-container button {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  background: #446CB3;
  font-size: 22px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}
*/

.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}


/* .modal-container #modal-toggle:hover ~ button { background: #1E824C; } */

.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
    background-color: black;
    max-width: 30vw;
    width: 100%;
    padding: 10px 30px;
    position: absolute;
    left: calc(50% - 15vw);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

.modal-container.wide #modal-toggle:checked ~ .modal-backdrop .modal-content {

    max-width: 60vw;
    left: calc(50% - 30vw);
}

@media (max-width: 400px) {

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content { left: 0; }
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
  color: red;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: black;
  font-size: 16px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 20px;
  background: #4CAF50;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #000;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover { color: white; background: red;}
